:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --icon-color: #afb1b8;
  --primary-background-color: #ffffff;
  --accent-background-color: #f5f4fa;
  --cta-footer-background-color: #2f303a;
  --primary-font-size: 16px;
  --shadow-card: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "roboto", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header-section {
  border-bottom: 1px solid #ececec;
}

.main-navigation {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .main-navigation {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
  }
}

.navigation__link {
  text-decoration: none;
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-right: 50px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.navigation__link:focus, .navigation__link:hover {
  color: var(--accent-color);
}

.navigation__link--current {
  color: var(--accent-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-right: 50px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.navigation__link--current::after {
  position: absolute;
  content: " ";
  border-bottom: 4px solid var(--accent-color);
  border-radius: 2px;
  display: block;
  bottom: -1px;
  width: 100%;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-contacts {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation-contacts {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-contacts {
    flex-direction: row;
  }
}

.navigation-contacts__link {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
  padding-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-contacts__link:hover, .navigation-contacts__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .navigation-contacts__link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
  }
}

.navigation-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
.navigation-contacts__icon:focus, .navigation-contacts__icon:hover {
  fill: currentColor;
}

.menu-open {
  display: block;
  background-color: transparent;
  border: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  right: 0;
  padding-top: 16px;
  padding-left: 40px;
  padding-right: 15px;
  z-index: 1;
  overflow-y: scroll;
}

.mob-menu-closing {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  cursor: pointer;
}

.mob-menu__button-close {
  fill: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__button-close:hover, .mob-menu__button-close:focus {
  color: var(--accent-color);
}

.mob-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 700px;
}

.mob-menu-navigation {
  display: flex;
  flex-direction: column;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-decoration: none;
  display: block;
}
.mob-menu__link:focus, .mob-menu__link:hover {
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mob-menu__link {
    font-size: 40px;
  }
}

.mob-menu__contacts {
  display: block;
  justify-content: center;
  align-items: center;
}

.mob-menu__contacts--tel-link {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
  display: block;
}
@media screen and (min-width: 480px) {
  .mob-menu__contacts--tel-link {
    font-size: 34px;
  }
}

.mob-menu__contacts--mail-link {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: block;
}
@media screen and (min-width: 480px) {
  .mob-menu__contacts--mail-link {
    font-size: 24px;
  }
}

.mob-menu__social-web {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.mob-menu__social-web--link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 468px) {
  .mob-menu__social-web--link {
    font-size: 18px;
  }
}

.web-border {
  height: 22px;
  margin-left: 10px;
  margin-right: 10px;
  border-right: 1px solid #ececec;
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.navigation__logo {
  color: #000000;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .navigation__logo {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__logo {
    font-size: 24px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__logo {
    font-size: 26px;
    margin-right: 93px;
  }
}

.logo-span {
  color: var(--accent-color);
}

.overlay {
  background-color: var(--cta-footer-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/imghero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 400px;
  background-size: cover;
  flex-grow: 1;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/imghero@2x.jpg);
  }
}
@media not all and (min-width: 480px) {
  .overlay {
    max-width: 510px;
  }
}
@media not all and (min-width: 768px) {
  .overlay {
    max-width: 798px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/imghero.jpg);
  }
  @media not all and (min-width: 768px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/imghero@2x.jpg);
    }
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/imghero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/imghero@2x.jpg);
  }
}

.cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0px 100px 0px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .cta {
    padding: 118px 0px 118px 0px;
  }
}
@media screen and (min-width: 768px) {
  .cta {
    padding: 118px 0px 118px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .cta {
    padding: 200px 0px 200px 0px;
  }
}

.cta__title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-top: 30px;
}
@media screen and (min-width: 480px) {
  .cta__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 768px) {
  .cta__title {
    font-size: 26px;
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .cta__title {
    font-size: 44px;
    width: 696px;
    line-height: 1.36;
  }
}

.cta__button {
  color: #ffffff;
  font-size: var(--primary-font-size);
  background-color: var(--accent-color);
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  font-family: "roboto";
  font-weight: bold;
  font-size: 16px;
}

.section-features {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .section-features {
    padding-top: 94px;
  }
}

.features__list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .features__list {
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -30px;
    margin-top: -30px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    flex-direction: row;
    margin-left: 0px;
    margin-top: 0px;
    flex-wrap: nowrap;
    padding-bottom: 0px;
  }
}

.features__thumb {
  display: block;
  align-items: center;
  padding: 15px 110px 15px 100px;
  border: none;
}
@media screen and (min-width: 480px) {
  .features__thumb {
    padding: 25px 190px 25px 190px;
  }
}
@media screen and (min-width: 768px) {
  .features__thumb {
    padding: 25px 142px 25px 142px;
  }
}
@media screen and (min-width: 1200px) {
  .features__thumb {
    padding: 25px 100px 25px 100px;
  }
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  display: block;
  text-align: center;
}

.features__item {
  margin-bottom: 30px;
}
.features__item:last-child {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
    height: 259px;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .features__item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
    height: 251px;
    margin: 0px 30px 0px 0px;
    flex-basis: calc(100% / 4);
  }
  .features__item:last-child {
    margin-right: 0px;
    margin-bottom: 0px;
  }
}

.section--jobs {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section--jobs {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

img {
  width: 370px;
  height: 294px;
}

.jobs__title {
  display: none;
}
@media screen and (min-width: 1200px) {
  .jobs__title {
    display: block;
    color: var(--title-color);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
  }
}

.jobs__list {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  display: none;
}
@media screen and (min-width: 1200px) {
  .jobs__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .jobs__list .jobs__item:nth-child(2) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .thumb {
    position: relative;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .thumb__overlay {
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .thumb__label {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.section-team {
  background-color: var(--accent-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  color: var(--title-color);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .team__title {
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
  }
}

.team__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-right: 0px;
}
@media screen and (min-width: 768px) {
  .team__card {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .team__card {
    flex-direction: row;
    margin: 0px;
    flex-wrap: nowrap;
  }
}
.team__card .card__item {
  border-radius: 0 0 4px 4px;
  border: 0px;
  box-shadow: var(--shadow-card);
  background-color: var(--primary-background-color);
}
.team__card .card__item:nth-child(2) {
  margin-top: 30px;
  margin-bottom: 30px;
}
.team__card .card__item:nth-child(4) {
  margin-top: 30px;
}
.team__card .card__item img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .team__card .card__item {
    width: 354px;
    height: 536;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .team__card .card__item:nth-child(2) {
    margin: 0px 0px 0px 30px;
  }
  .team__card .card__item:nth-child(3) {
    margin-top: 30px;
  }
  .team__card .card__item:nth-child(4) {
    margin-left: 30px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card .card__item {
    flex-basis: calc(100% / 4);
  }
  .team__card .card__item:nth-child(2) {
    margin-right: 30px;
    margin-left: 30px;
  }
  .team__card .card__item:nth-child(3) {
    margin-top: 0px;
  }
  .team__card .card__item:nth-child(4) {
    margin-top: 0px;
  }
}
.team__card .card__description {
  text-align: center;
  align-items: center;
}
.team__card .card__title--team {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 30px;
}
.team__card .card__text--team {
  font-size: 14px;
  color: var(--primary-text-color);
}
.team__card .social-web {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 24px;
}
.team__card .social-web .social-web__logo:not(:last-child) {
  margin-right: 10px;
}
.team__card .social-web .social-web__elipse {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__card .social-web .social-web__elipse:hover, .team__card .social-web .social-web__elipse:focus {
  background-color: var(--accent-color);
}
.team__card .social-web .social-web__elipse:hover .social-web__icon, .team__card .social-web .social-web__elipse:focus .social-web__icon {
  fill: #ffffff;
}
.team__card .social-web .social-web__icon {
  text-align: center;
  fill: var(--icon-color);
}

.clients__title {
  color: var(--title-color);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .clients__title {
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-top: 0px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}

.clients__item {
  margin-right: 10px;
  margin-left: 0px;
  margin-bottom: 10px;
}
.clients__item:nth-child(even) {
  margin-right: 0px;
}
@media screen and (min-width: 480px) {
  .clients__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients__item:nth-child(even) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients__item:not(last-child) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    margin-bottom: 0px;
  }
}

.clients__logo {
  display: block;
  width: 140px;
  flex-basis: calc(100% / 2 - 30px);
  height: 80px;
  padding: 0;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  background-color: var(--primary-background-color);
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logo:hover, .clients__logo:focus {
  border: 1px solid var(--accent-color);
}
.clients__logo:hover .clients__icon, .clients__logo:focus .clients__icon {
  fill: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .clients__logo {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clients__logo {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__logo {
    width: 170px;
  }
}

.clients__icon {
  fill: var(--icon-color);
}

.footer-section {
  background-color: var(--cta-footer-background-color);
  line-height: 1.71;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .page-footer {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .page-footer__contacts {
    position: relative;
    margin-right: auto;
    margin-left: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__contacts {
    margin-right: 70px;
    margin-left: 0px;
    width: 231px;
    position: static;
    align-items: flex-start;
  }
}

.page-footer__adress {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  margin-top: 20px;
}

.page-footer__link {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  display: block;
  margin-top: 9px;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__link:hover, .page-footer__link:focus {
  color: var(--accent-color);
}

.social-web__thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .social-web__thumb {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 0px;
    right: 40%;
    transform: translateX(100%);
  }
}
@media screen and (min-width: 1200px) {
  .social-web__thumb {
    margin-top: 12px;
    align-items: flex-start;
    position: static;
    transform: none;
    margin-bottom: 60px;
  }
}

.social-web__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: bold;
}

.social-web-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.socialweb__icon-footer {
  fill: #ffffff;
}

.social-web__elipse-footer {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--cta-footer-background-color);
  margin-right: 10px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-web__elipse-footer:hover, .social-web__elipse-footer:focus {
  background-color: var(--accent-color);
}

.subscription-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  .subscription-footer {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-footer {
    width: 570px;
    margin-left: auto;
    margin-top: 16px;
    align-items: flex-start;
    margin-bottom: 60px;
  }
}

.subscription__title {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: bold;
  margin-bottom: 20px;
}

.subscription-form {
  margin: 0px;
}

.subscription-form__field {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .subscription-form__field {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form__field {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    height: 50px;
  }
}

.subscription-form__input {
  display: inline-block;
  width: 290px;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--cta-footer-background-color);
  font: inherit;
  line-height: 1.25;
  outline: none;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .subscription-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form__input {
    width: 358px;
  }
}

.subscription-form__item {
  display: flex;
  align-items: center;
  padding: 0px;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .subscription-form__item {
    margin-left: 12px;
    justify-content: space-between;
  }
}

.subscription-form__button {
  color: #ffffff;
  background-color: var(--accent-color);
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  font-family: "roboto";
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  padding: 10px 62px 10px 29px;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .subscription-form__button {
    margin-top: 0px;
  }
}

.subscription-form__icon {
  fill: #fff;
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(0%);
}
@media screen and (min-width: 1200px) {
  .subscription-form__icon {
    transform: translateY(-50%);
  }
}

.page-footer__logo {
  color: #000000;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-right: 0px;
}
@media screen and (min-width: 480px) {
  .page-footer__logo {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .page-footer__logo {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__logo {
    font-size: 26px;
  }
}

.span-footer {
  color: #ffffff;
}

.portfolio-filter {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio-filter {
    margin-bottom: 30px;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-filter {
    margin-bottom: 50px;
  }
}

.portfolio-filter__button {
  background-color: var(--accent-background-color);
  border-radius: 4px 4px 4px 4px;
  color: var(--title-color);
  cursor: pointer;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-family: "roboto";
  margin-right: 8px;
  border: 0;
  display: block;
  padding: 6px 22px 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 15px;
}
.portfolio-filter__button:hover, .portfolio-filter__button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .portfolio-filter__button {
    margin-bottom: 0px;
  }
}

.card__title {
  color: var(--title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__text {
  line-height: 1.87;
  margin-top: 4px;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-text-color);
}

.card__set {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .card__set {
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.card__item--portfolio {
  margin-bottom: 30px;
}
.card__item--portfolio:first-child {
  display: flex;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .card__item--portfolio {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .card__item--portfolio {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

img {
  width: 450px;
  height: 294px;
}
@media screen and (min-width: 768px) {
  img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  img {
    width: 370px;
  }
}

.card__article {
  border: 1px solid #eeeeee;
  width: 100%;
  height: auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}
.card__article:hover, .card__article:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card__article:hover .card__overlay {
  transform: translateY(0);
  opacity: 1;
}

.card__thumb {
  height: auto;
}

.card__overlay {
  position: absolute;
  width: 100%;
  height: 280px;
  top: 0;
  left: 100;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(50%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .card__overlay {
    height: 294px;
  }
}

.card__label {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.5;
  font-weight: 400;
  text-transform: none;
}

.card__content {
  padding: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -35%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  width: 320px;
  min-height: 609px;
  padding: 8px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-height: 581px;
    min-width: 528px;
  }
}

.modal__closing-modal {
  display: flex;
  align-items: center;
  margin-left: auto;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 30px;
  height: 30px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close {
  fill: black;
}
.modal__button-close:focus, .modal__button-close:hover {
  fill: #2196f3;
}

.subscribe-form-modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
}

.subscribe-title {
  font-size: 20px;
  display: block;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 12px;
}

.form-modal {
  display: flex;
  align-items: center;
  width: 290px;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .form-modal {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form-modal {
    width: 448px;
  }
}

.form-modal__field {
  width: 290px;
  margin-bottom: 10px;
  margin-top: 4px;
}
@media screen and (min-width: 480px) {
  .form-modal__field {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form-modal__field {
    width: 448px;
  }
}

.form-modal__label {
  top: 50%;
  left: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: 0.01em;
  color: var(--primary-text-color);
}

.form-modal-input {
  display: block;
  width: 100%;
  margin: 0;
  height: 40px;
  padding-left: 40px;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-input:focus + .form-label {
  border: 1px solid var(--accent-color);
  outline: none;
}

.input-wrap {
  position: relative;
  display: block;
}

.form-modal-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--title-color);
  display: inline-block;
}
.form-modal-input:focus + .form-modal-icon {
  fill: var(--accent-color);
}

.form-modal__comments {
  display: inline-block;
  resize: none;
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.policy-text {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
@media screen and (min-width: 480px) {
  .policy-text {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .policy-text {
    font-size: 14px;
    padding-left: 8px;
  }
}

.policy-box {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  padding-left: 2px;
}

.checkbox:checked + .policy-text > .policy-box {
  border: none;
  background-color: var(--accent-color);
}

.policy-link {
  color: var(--accent-color);
  margin-left: 3px;
}/*# sourceMappingURL=main.css.map */