.section-features {
  padding-top: 94px;
}
.features__list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.features__icon {
  width: 270px;
  height: 120px;
}
.features__title {
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 14px;
}
.features__item {
  width: 270px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }
}
