.overlay {
  background-color: var(--cta-footer-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/imghero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 400px;
  background-size: cover;
  flex-grow: 1;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/imghero@2x.jpg);
  }
  @media not all and (min-width: 480px) {
    max-width: 510px;
  }

  @media not all and (min-width: 768px) {
    max-width: 798px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/imghero.jpg);
    @media not all and (min-width: 768px) and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tablet/imghero@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/imghero.jpg);
    @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desktop/imghero@2x.jpg);
    }
  }
}
.cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0px 100px 0px;
  margin: 0 auto;
  width: 360px;

  @media screen and (min-width: 480px) {
    padding: 118px 0px 118px 0px;
  }
  @media screen and (min-width: 768px) {
    padding: 118px 0px 118px 0px;
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 0px 200px 0px;
  }
}
.cta__title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    font-size: 26px;
  }

  @media screen and (min-width: 768px) {
    font-size: 26px;
    width: 360px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    width: 696px;
    line-height: 1.36;
  }
}
