.portfolio-filter {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
    flex-wrap: nowrap;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.portfolio-filter__button {
  background-color: var(--accent-background-color);
  border-radius: 4px 4px 4px 4px;
  color: var(--title-color);
  cursor: pointer;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-family: "roboto";
  margin-right: 8px;
  border: 0;
  display: block;
  padding: 6px 22px 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 15px;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}
