body {
  font-family: "roboto", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
