:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --icon-color: #afb1b8;
  --primary-background-color: #ffffff;
  --accent-background-color: #f5f4fa;
  --cta-footer-background-color: #2f303a;
  --primary-font-size: 16px;
  --shadow-card: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
